body {
  padding: 20px;
}

.jumbotron {
  background-color: #90C3D4;
}

img {
  width: 280;
  height: 320px;
  border: 2px solid gray;
  display: inline-block;
  object-fit: cover;
  overflow: hidden;
}
