<h1>Craigslist Clone Listings </h1>

Find items for sale, search for what you need or list items for sale.

{{#link-to 'listing'}}{{/link-to}}
<ul>
  {{#each model.listings as |listing|}}
  {{individual-listing listing=listing}}
  {{/each}}
</ul>

{{new-listing saveListing="saveListing" category=model}}
