<h1> Welcome to Craigslist Clone </h1>
<p>Today is: {{current-date}}</p>

Find items for sale, search for what you need or list items for sale.
<br>
<br>
<ul>
  {{#each model as |overallcategory|}}
    {{#link-to 'overallcategory' overallcategory.id}}{{overallcategory.name}}{{/link-to}}<br>
    <hr>
  {{/each}}
</ul>
